<template>
    <el-card class="blocks" shadow="hover">
        <el-col :span="18" style="padding-bottom: 10px">
            <router-link to="/AgreementPage" style="text-decoration: none">
                <el-row><strong>{{name}}</strong></el-row>
                <el-row style="color: #ccc; font-size: 15px;">{{description}}</el-row>
<!--                <el-row style="color: #ccc; font-size: 15px;">организатор</el-row>-->
                <el-row>
                    <el-progress :percentage="percent" :color="customColors"></el-progress>
                </el-row>
            </router-link>
        </el-col>
        <el-col :span="6">
            <el-row><div style="float: right"><EditAgreementCom></EditAgreementCom></div></el-row>
        </el-col>
    </el-card>
</template> 

<script>
    import EditAgreementCom from '../EditAgreementComp.vue'

    export default {
        name: 'MainPageBlocksComp',
        props: [
            "name",
            "description",
            "percent",
        ],
        data: function (){
            return {
                customColors: [
                    {color: '#f56c6c', percentage: 20},
                    {color: '#e6a23c', percentage: 40},
                    {color: '#5cb87a', percentage: 60},
                    {color: '#1989fa', percentage: 80},
                    {color: '#6f7ad3', percentage: 100}
                ]
            }
        },
        components: {
            EditAgreementCom
        }
    }
</script>

<style>
    .blocks{
        margin-bottom: 20px !important;
    }
    .blocks:last-child{
        margin-bottom: 0;
    }
</style>