<template>
        <el-row :gutter="20" style="margin-top: 20px !important;">
            <el-col :span="24">
                <el-card shadow="always" style="height: 82vh">
                    <slot></slot>
                </el-card>
            </el-col>
        </el-row>
</template> 

<script>
    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
                end = dc.length;
            }
        }
        // because unescape has been deprecated, replaced with decodeURI
        //return unescape(dc.substring(begin + prefix.length, end));
        return decodeURI(dc.substring(begin + prefix.length, end));
    }
    export default {
        name: 'MainBlockComp',
        data: function (){
            return {

            }
        },
        beforeCreate(){
          if (getCookie('access_key') == null){
              this.$router.push('/AuthRegistPage');
          }
        },
    }
</script>

<style>

</style>