<template>
    <div v-loading="loading">
        <router-view></router-view>
    </div>
</template>

<script>
    //Import Apps or Libs
    import Vuex from 'vuex';
    import Vue from 'vue'

    Vue.use(Vuex);

    import VueRouter from 'vue-router';
    import AuthRegistPage from "./Pages/AuthRegistPage.vue";
    import MainPage from "./Pages/MainPage.vue"
    import AgreementPage from './Pages/AgreementPage.vue';
    import FinalReportPage from './Pages/FinalReportPage.vue';
    const router = new VueRouter({
        mode: 'history',
        routes: [
            { path: '/', name: 'MainPage', component: MainPage},
            { path: '/AuthRegistPage', name: 'AuthRegistPage', component: AuthRegistPage},
            { path: '/AgreementPage', name: 'AgreementPage', component: AgreementPage},
            { path: '/FinalReportPage', name: 'FinalReportPage', component: FinalReportPage}
        ]
    });
    const store = new Vuex.Store({
        state: {
            user: {
                id: '',
                auth: false,
                first_name: '',
                last_name: '',
                company: '',
                position: '',
            }
        },
        mutations: {
            login(state, data){
                state.user.id = data.id;
                state.user.first_name = data.first_name;
                state.user.last_name = data.last_name;
                state.user.company = data.company;
                state.user.position = data.position;

                state.user.auth = true;
            },
            logout(state){
                state.user.id = '';
                state.user.auth = false;
            }
        }
    });
    //Main body
    export default {
        router,
        store,
        data: function () {
            return {
                loading: false
            }
        },
        components: {
            AuthRegistPage,
            MainPage,
            AgreementPage,
            FinalReportPage
        },
        created() {
            // this.openFullScreen()
        },
        methods: {
            // openFullScreen() {
            //     this.loading = true;
            //     setTimeout(() => {
            //     this.loading = false;
            //     }, 1000);
            // },
        }
    }
        //Include routings

</script>

<style>
    body{
        overflow: hidden;
        background-color: #F5FFFA;
    }
</style>