<template>
    <CreateModalButton title="Создание голосования">
        <el-row type="flex" justify="center" style="margin-bottom: 10px !important; font-size: 18px">
        </el-row>
        <el-row class="blocks">
            <el-input placeholder="Наименование.." v-model="Name"></el-input>
        </el-row>
        <el-row class="blocks">
            <el-input type="textarea" :rows="2" placeholder="Описание.." v-model="Description"></el-input>
        </el-row>
        <el-row>
            <h4>Участники голосования:</h4>
            <UserListPicker></UserListPicker>
            <div style="height: 40px;"></div>

        </el-row>
        <el-card class="blocks" style=" overflow: visible" shadow="never">
            <el-row class="blocks" type="flex" justify="center">
                <el-button @click="AddQuesDoc()" icon="el-icon-plus" style="padding: 6px 10px;" type="success">добавить
                    вопрос/документ
                </el-button>
            </el-row>
            <el-row v-for="item in items" v-bind:key="item.id" class="blocks">
                <el-col :span="22">
                    <el-input type="textarea" :rows="2" placeholder="Вопрос/Документ.." v-model="item.value"></el-input>
                </el-col>
                <el-col :span="2">
                    <el-row type="flex" justify="center">
                        <el-button type="danger" size="small" style="margin: 10px 0 0 0" icon="el-icon-delete" circle
                                   @click="DeleteQuesDoc(item.id)"></el-button>
                    </el-row>
                </el-col>
            </el-row>
        </el-card>
        <el-row class="blocks">
            <el-button style="padding: 6px 10px; float: right" type="primary" @click="create_new_voting">создать
                повестку
            </el-button>
        </el-row>
    </CreateModalButton>

</template>

<script>
    import CreateModalButton from "./ModalButtons/CreateModalButton.vue";
    import UserListPicker from "./UserListPicker.vue";

    export default {
        name: "CreateAgreementComp",
        data: () => {
            return {
                show_dialog: false,
                Name: '',
                Description: '',
                QuesDoc: '',
                current_id: 10000,
                items: []
            }
        },
        components: {
            CreateModalButton,
            UserListPicker,
        },
        methods: {
            AddQuesDoc() {
                this.items.push({
                    id: this.current_id++,
                    value: `id = ${this.current_id - 1}`,
                })
            },
            DeleteQuesDoc(id) {
                for (let i = 0; i < this.items.length; i++) {
                    if (this.items[i].id == id) {
                        this.items.splice(i, 1)
                    }
                }
            },
            create_new_voting() {
                var xhr = new XMLHttpRequest();
                var self = this;
                let data = {
                    questions: this.items,
                    owner_id: this.$store.state.user.id,
                    name: this.Name,
                    description: this.Description,
                    active: true,
                }
                let data_s = JSON.stringify(data);

                let url = `http://127.0.0.1:8904/voting`
                xhr.open('POST', url, true)
                xhr.withCredentials = true;
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        var json_s = this.responseText
                        var data = JSON.parse(json_s)

                    }
                }
                xhr.send(data_s)
            }
        }
    }
</script>

<style scoped>

</style>