<template>
    <EditModalButton title="Редактирование голосования">
            <el-row type="flex" justify="center" style="margin-bottom: 10px !important; font-size: 18px">редактирование повестки</el-row>
            <el-row class="blocks">
                <el-input placeholder="Наименование.." v-model="Name"></el-input>
            </el-row>
            <el-row class="blocks">
                <el-input type="textarea" :rows="2" placeholder="Описание.." v-model="Description"></el-input>
            </el-row>

            <el-card class="blocks" style=" overflow: visible" shadow="never">
                <el-row class="blocks" type="flex" justify="center">
                    <el-button @click="AddQuesDoc()" icon="el-icon-plus" style="padding: 6px 10px;" type="success">добавить вопрос/документ</el-button>
                </el-row>
                <el-row v-for="item in items" v-bind:key="item.id"  class="blocks">
                    <el-col :span="22">
                        <el-input type="textarea" :rows="2" placeholder="Вопрос/Документ.." v-model="item.value"></el-input>
                    </el-col>
                    <el-col :span="2">
                        <el-row type="flex" justify="center">
                            <el-button type="danger" size="small" style="margin: 10px 0 0 0" icon="el-icon-delete" circle @click="DeleteQuesDoc(item.id)"></el-button>
                        </el-row>
                    </el-col>
                </el-row>
            </el-card>
            <el-row class="blocks">
                <el-button style="padding: 6px 10px; float: right" type="primary">создать повестку</el-button>
            </el-row>
    </EditModalButton>

</template>

<script>
    import EditModalButton from "./ModalButtons/EditModalButton.vue";

    export default {
        name: "EditAgreementComp",
        data: () => {
            return {
                show_dialog: false,
                Name: '',
                Description: '',
                QuesDoc: '',
                items: [
                    {
                        id: '',
                        value: ''
                    },
                ]
            }
        },
        components: {
            EditModalButton
        },
        methods: {
            AddQuesDoc(){
                this.items.push({
                    id: "",
                    value: "",
                })
            },
            DeleteQuesDoc(id){
                for(let i=0; i<this.items.length; i++){
                    if(this.items[i].id == id){
                        this.items.splice(i, 1)
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>