<template>
    <el-autocomplete
            v-model="state"
            :fetch-suggestions="querySearchAsync"
            placeholder="Пользователь..."
            @select="handleSelect"

    ></el-autocomplete>
</template>

<script>
    export default {
        name: "RealTimeUserInput",
        data() {
            return {
                links: [],
                state: '',
                timeout: null
            };
        },
        methods: {
            handleSelect(item) {
                console.log('Handle select');
                console.log(item);
            },
            querySearchAsync(queryString, cb) {
                if (queryString == '') {
                    cb([]);
                    return;
                }
                var xhr = new XMLHttpRequest();
                var self = this;
                let url = `/users/search/${queryString}`
                xhr.open('GET', url, true)
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        var json_s = this.responseText
                        var data = JSON.parse(json_s)

                        // self.$message.success("Вы успешно зарагистрировались!")
                        // self.links = data.users;

                        self.links = []
                        for (let user of data.users) {
                            self.links.push({
                                value: user.first_name + ' ' + user.last_name,
                                data: user,
                            })
                        }
                        console.log(self.links)
                        // cb(data.users);
                        cb(self.links);
                        // self.$router.push('/')

                    }
                }
                xhr.send()
                // var links = this.links;
                // var results = queryString ? links.filter(this.createFilter(queryString)) : links;
                //
                // clearTimeout(this.timeout);
                // this.timeout = setTimeout(() => {
                //     cb(results);
                // }, 3000 * Math.random());
            },
            createFilter(queryString) {
                return (link) => {
                    return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
            handleSelect(item) {
                console.log(item);
                this.$emit('user-select', item);
            }
        },
        mounted() {
            // this.links = this.loadAll();
        }
    };
</script>

<style scoped>

</style>
