<template>
    <div>
        <span v-for="user in users" style="padding: 3px;">
            <el-tag

                    :key="user.name"
                    closable
                    :type="user.type"
                    @close='user_close(user)'


            >
                {{user.name}}
            </el-tag>
        </span>
        <RealTimeUserInput
                v-on:user-select="userSelect($event.data)"

        ></RealTimeUserInput>

    </div>


</template>

<script>
    import RealTimeUserInput from "./RealTimeUserInput.vue";

    export default {
        name: "UserListPicker",
        data() {
            return {
                users: [
                    {
                        id: 1,
                        name: 'Pavel Katskov',
                        type: '',

                    },
                    {
                        id: 3,
                        name: 'Kamol Kamal',
                        type: ''
                    },

                ]
            };
        },
        methods: {
            user_close(user) {
                console.log('User is closed!', user);
                for (let i = 0; i < this.users.length; i++) {
                    if (this.users[i].id == user.id) {
                        this.users.splice(i, 1);
                        break;
                    }
                }
            },
            userSelect(user) {
                console.log('ADD NEW USER')
                console.log(user)
                let usr = {
                    id: user.id,
                    name: user.first_name + ' ' + user.last_name,
                    type: '',
                };
                let unselected = true;
                for (let u of this.users) {
                    if (usr.id == u.id) {
                        unselected = false;
                        break;
                    }
                }
                if (unselected) {
                    this.users.push(usr);

                }

            },
        },
        components: {
            RealTimeUserInput,
        }
    }
</script>

<style scoped>

</style>