<template>
    <CreateModalButton
            title="Создание голосования"
    >
        <el-container>
            <el-main>
                <el-form ref="form" :model="form" label-width="200px">
                    <el-form-item label="Название">
                        <el-input
                                placeholder="Название..."
                                v-model="form.name"
                                clearable>
                        </el-input>
                    </el-form-item>

                    <el-form-item label="Время голосования" >
                        <el-row>
                            <el-col :span="11">
                                <el-date-picker type="date" placeholder="Начало" v-model="form.date1"
                                                style="width: 100%;"></el-date-picker>
                            </el-col>
                            <el-col :span="1" :offset="1" > до </el-col>
                            <el-col :span="11" >
                                <el-date-picker placeholder="Окончание" v-model="form.date2"
                                                style="width: 100%;"></el-date-picker>
                            </el-col>
                        </el-row>

                    </el-form-item>

                    <el-form-item label="Описание">
                        <el-input type="textarea" v-model="form.description" aria-placeholder="Описание..."></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="success" @click="onSubmit">Создать</el-button>
                        <el-button>Отменить</el-button>
                    </el-form-item>
                </el-form>

            </el-main>
        </el-container>
    </CreateModalButton>

</template>

<script>
    import CreateModalButton from "./ModalButtons/CreateModalButton.vue";

    export default {
        name: "VotingCreateForm",
        data: () => {
            return {
                form: {
                    name: '',
                    date1: '',
                    date2: '',
                    description: '',
                },
            }
        },
        components: {
            CreateModalButton,
        },
        methods: {
            onSubmit: function (e) {

            }
        }
    }
</script>

<style scoped>

</style>