<template>
    <div>
        <el-button style="padding: 2px 10px" size="small" type="success" icon="el-icon-plus" @click="show_dialog = true">создать подвеску</el-button>
        <el-dialog :title="title" :visible.sync="show_dialog" :fullscreen="false">
            <slot></slot>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: "CreateModalButton",
        props: [
            "title"
        ],
        data: () => {
            return {
                show_dialog: false,
                Name: '',
                Description: '',
                QuesDoc: '',
                items: [
                    {
                        id: '',
                        value: ''
                    },
                ]
            }
        },
        methods: {
            AddQuesDoc(){
                this.items.push({
                    id: "",
                    value: "",
                })
            },
            DeleteQuesDoc(id){
                for(let i=0; i<this.items.length; i++){
                    if(this.items[i].id == id){
                        this.items.splice(i, 1)
                    }
                }
            }
        }

    }
</script>

<style scoped>
    .blocks{
        margin-bottom: 20px !important;
    }
    .blocks:last-child{
        margin-bottom: 0;
    }
</style>