<template>
    <div>
        <el-button type="danger" icon="el-icon-delete" @click="show_dialog = true" circle>
        </el-button>
        <el-dialog :title="title" :visible.sync="show_dialog" :fullscreen="true">
            <slot></slot>
        </el-dialog>
    </div>


</template>

<script>
    export default {
        name: "DeleteModalButton",
        props: [
            "title"
        ],
        data: () => {
            return {
                show_dialog: false,
            }
        }
    }
</script>

<style scoped>

</style>