<template>
    <div>
        <el-button size="small" type="primary" icon="el-icon-edit" @click="show_dialog = true" circle></el-button>
        <el-dialog :title="title" :visible.sync="show_dialog" :fullscreen="false">
            <slot></slot>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: "EditModalButton",
        props: [
            "title"
        ],
        data: () => {
            return {
                show_dialog: false,
                customColors: [
                    {color: '#f56c6c', percentage: 20},
                    {color: '#e6a23c', percentage: 40},
                    {color: '#5cb87a', percentage: 60},
                    {color: '#1989fa', percentage: 80},
                    {color: '#6f7ad3', percentage: 100}
                ]
            }
        }
    }
</script>

<style scoped>

</style>