<template>
    <div>
        <HeaderComp></HeaderComp>
        <MainBlockComp>
            <el-steps :active="2" align-center finish-status="success">
                <el-step title="Создано"></el-step>
                <el-step title="Обсуждение"></el-step>
                <el-step title="Голосвание"></el-step>
                <el-step title="Согласовано"></el-step>
            </el-steps>
            <el-col :span="12">
                <el-card style="height: 68vh; overflow-y: visible" shadow="never">
                    <el-row type="flex" class="row-bg" justify="center" style="margin-bottom: 20px !important">Повестка</el-row>
                    <el-divider></el-divider>
                    <el-row class="blocks">
                        <el-row>
                            <el-card class="blocks" shadow="never">
                                <el-row>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, neque at qui quidem necessitatibus, vitae impedit modi sint, quia ullam doloribus magnam voluptates perspiciatis totam sit hic ad omnis assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam sint facere inventore, deleniti accusantium consequatur. Dolor delectus enim, explicabo libero, obcaecati voluptate quae cum architecto, eum nesciunt sint molestiae.</el-row>
                            </el-card>
                        </el-row>
                        <el-row type="flex" justify="center" class="row-bg" style="margin: 15px 0 0 0">
                            <el-radio v-model="radio1" label="1">Да</el-radio>
                            <el-radio v-model="radio1" label="2">Нет</el-radio>
                            <el-radio v-model="radio1" label="3">Не определился</el-radio>
                        </el-row>
                        <el-row style="margin-top: 20px;">
                            <el-input type="textarea" :rows="2" placeholder="оставьте комментарий" v-model="textarea">
                            </el-input>
                        </el-row>
                    </el-row>
                    <el-divider></el-divider>

                                        <el-row class="blocks">
                        <el-row>
                            <el-card class="blocks" shadow="never">
                                <el-row>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, neque at qui quidem necessitatibus, vitae impedit modi sint, quia ullam doloribus magnam voluptates perspiciatis totam sit hic ad omnis assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam sint facere inventore, deleniti accusantium consequatur. Dolor delectus enim, explicabo libero, obcaecati voluptate quae cum architecto, eum nesciunt sint molestiae.</el-row>
                            </el-card>
                        </el-row>
                        <el-row type="flex" justify="center" class="row-bg" style="margin: 15px 0 0 0">
                            <el-radio v-model="radio2" label="1">Да</el-radio>
                            <el-radio v-model="radio2" label="2">Нет</el-radio>
                        </el-row>
                        <el-row style="margin-top: 20px;">
                            <el-input type="textarea" :rows="2" placeholder="оставьте комментарий" v-model="textarea">
                            </el-input>
                        </el-row>
                    </el-row>
                    <el-divider></el-divider>

                    <el-row class="blocks">
                        <el-row>
                            <el-card class="blocks" shadow="never">
                                <el-row>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, neque at qui quidem necessitatibus, vitae impedit modi sint, quia ullam doloribus magnam voluptates perspiciatis totam sit hic ad omnis assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam sint facere inventore, deleniti accusantium consequatur. Dolor delectus enim, explicabo libero, obcaecati voluptate quae cum architecto, eum nesciunt sint molestiae.</el-row>
                            </el-card>
                        </el-row>
                        <el-row type="flex" justify="center" class="row-bg" style="margin: 15px 0 0 0">
                            <el-radio v-model="radio3" label="1">Да</el-radio>
                            <el-radio v-model="radio3" label="2">Нет</el-radio>
                        </el-row>
                        <el-row style="margin-top: 20px;">
                            <el-input type="textarea" :rows="2" placeholder="оставьте комментарий" v-model="textarea">
                            </el-input>
                        </el-row>
                    </el-row>
                    <el-divider></el-divider>
                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card style="height: 68vh; overflow-y: visible" shadow="never">
                    <el-row type="flex" class="row-bg" justify="center" style="margin-bottom: 20px !important">Обсуждение</el-row>
                        <el-row>
                            <el-col :span="15">
                                <el-card style="height: 40vh; overflow-y: visible;" class="blocks" shadow="never">
                                    <el-upload
                                        class="upload-demo"
                                        action="https://jsonplaceholder.typicode.com/posts/"
                                        multiple
                                        :limit="3">
                                            <el-button size="small" type="primary">Click to upload</el-button>
                                    </el-upload>
                                </el-card>
                                <el-card style="height: 10vh" class="blocks" shadow="never">
                                    <el-col :span="18">
                                        <el-input style="" placeholder='Напишите сообщение..' v-model="input" clearable></el-input>
                                    </el-col>
                                    <el-col :span="6">
                                        <el-row type="flex" class="row-bg" justify="center">
                                            <el-button style="0 0 0 10px" type="primary"><i class="el-icon-s-promotion"></i></el-button>

                                        </el-row>
                                    </el-col>
                                </el-card>
                            </el-col>
                            <el-col :span="9">
                                <el-card style="height: 54vh; margin: 0 0 0 20px; overflow-y: visible;" class="blocks" shadow="never">
                                    <el-row>
                                        <el-card class="blocks" shadow="never">
                                            <h3 style="font-size: 15px;     margin-block-start: 0px;     margin-block-end: 0px;">Павел Кацков</h3>
                                            <p style="font-size: 13px">Должность</p>
                                            <p style="color: grey; font-size: 13px">Компания</p>      
                                        </el-card>
                                       <el-card class="blocks" shadow="never">
                                            <h3 style="font-size: 15px">Яковлев Никита</h3>
                                            <p style="font-size: 13px">Должность</p>
                                            <p style="color: grey; font-size: 13px">Компания</p> 
                                        </el-card>
                                        <el-card class="blocks" shadow="never">
                                            <h3 style="font-size: 15px">Рахимов Камол</h3>
                                            <p style="font-size: 13px">Должность</p>
                                            <p style="color: grey; font-size: 13px">Компания</p>
                                        </el-card>
                                        <el-card class="blocks" shadow="never">
                                            <h3 style="font-size: 15px">Царева Алина</h3>
                                            <p style="font-size: 13px">Должность</p>
                                            <p style="color: grey; font-size: 13px">Компания</p>
                                        </el-card>
                                        <el-card class="blocks" shadow="never">
                                            <h3 style="font-size: 15px">Спиров Даниил</h3>
                                            <p style="font-size: 13px">Должность</p>
                                            <p style="color: grey; font-size: 13px">Компания</p>
                                        </el-card>
                                        <el-card class="blocks" shadow="never">
                                            <h3 style="font-size: 15px">Гривин Андрей</h3>
                                            <p style="font-size: 13px">Должность</p>
                                            <p style="color: grey; font-size: 13px">Компания</p>
                                        </el-card>
                                    </el-row>
                                </el-card>
                            </el-col>
                        </el-row>
                        <!-- <el-row style="margin: 20px 0 0 0">
                            <el-col :span="15">

                             </el-col>
                        </el-row> -->
                    <el-row>

                    </el-row>
                </el-card>
            </el-col>
        </MainBlockComp>
    </div>
</template>

<script>
    import HeaderComp from '../Components/HeaderComp.vue'
    import MainBlockComp from '../Components/MainBlockComp.vue'
    export default {
        name: 'AgreementPage',
        data: function (){
            return {
                radio1: '1',
                radio2: '1',
                radio3: '1',
                radio4: '1',
                radio5: '1',
                textarea: '',
                input: '',
            }
        },
        components: {
            HeaderComp,
            MainBlockComp
        }
    }
</script>  

<style>
    .blocks{
        margin-bottom: 20px;
    }
    .blocks:last-child{
        margin-bottom: 0;
    }
</style>