<template>
    <el-row :gutter="20">
        <el-col :span="12" :offset="6" style="margin-top: 50px !important">
            <el-card shadow="always">
                <el-tabs>

                    <el-tab-pane label="Авторизация">
                        <el-form :model="ValidateForm" label-width="100px" class="demo-form-inline">
                            <el-form-item label="Логин">
                                <el-input v-model="ValidateForm.email"></el-input>
                            </el-form-item>
                            <el-form-item label="Пароль">
                                <el-input v-model="ValidateForm.password" show-password></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="login">Войти</el-button>
                                <el-button>Сбросить</el-button>
                            </el-form-item>
                        </el-form>
                    </el-tab-pane>

                    <el-tab-pane label="Регистрация">
                        <el-form :model="ValidateForm" label-width="150px" class="demo-form-inline-">
                            <el-form-item label="Имя">
                                <el-input v-model="ValidateForm.first_name"></el-input>
                            </el-form-item>
                            <el-form-item label="Фамилия">
                                <el-input v-model="ValidateForm.last_name"></el-input>
                            </el-form-item>
                            <el-form-item label="Организация">
                                <el-input v-model="ValidateForm.company"></el-input>
                            </el-form-item>
                            <el-form-item label="Должность">
                                <el-input v-model="ValidateForm.position"></el-input>
                            </el-form-item>

                            <el-form-item label="Email">
                                <el-input v-model="ValidateForm.email"></el-input>
                            </el-form-item>
                            <el-form-item label="Пароль">
                                <el-input v-model="ValidateForm.password" show-password></el-input>
                            </el-form-item>
                            <el-form-item label="Повторите пароль">
                                <el-input v-model="ValidateForm.password1" show-password></el-input>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="sendDataToRegist()">Зарегестрироваться</el-button>
                                <el-button>Сбросить</el-button>
                            </el-form-item>
                        </el-form>
                    </el-tab-pane>

                </el-tabs>
            </el-card>
        </el-col>
    </el-row>
</template>

<script>
    export default {
        name: "AuthRegistPage",
        data() {
            return {
                ValidateForm: {
                    first_name: '',
                    email: '',
                    last_name: '',
                    company: '',
                    position: '',
                    password: '',
                    password1: '',
                },
                radio: '1'
            };
        },
        methods: {
            sendDataToRegist() {
                console.log(this.ValidateForm.Email)
                var xhr = new XMLHttpRequest();
                var self = this;
                if (this.ValidateForm.password != this.ValidateForm.password1){
                    this.$message.error('Пароли не совпадают');
                    return;
                }
                let data = this.ValidateForm;
                let data_s = JSON.stringify(data);
                let url = `/users/register?email=${data.email}&first_name=${data.first_name}&last_name=${data.last_name}&password=${data.password}&company=${data.company}&position=${data.position}`
                xhr.open('POST', url, true)
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        var json_s = this.responseText
                        var data = JSON.parse(json_s)
                        if (data.code == '0') {
                            self.$message.success("Вы успешно зарагистрировались!")
                            // self.$router.push('/')
                        } else {
                            self.alert = true;
                        }
                    }
                }
                xhr.send()
            },
            login(){
                var xhr = new XMLHttpRequest();
                var self = this;

                let data = this.ValidateForm;
                let url = `/users/login?email=${data.email}&password=${data.password}`
                xhr.open('POST', url, true)
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        var json_s = this.responseText
                        var data = JSON.parse(json_s)
                        if (data.code == '0') {
                            self.$store.commit('login', data.data);
                            // self.$message.success("Вы успешно зарагистрировались!")
                            self.$router.push('/')
                        } else {
                            self.$message.warning('Неверный email или пароль!')
                        }
                    }
                }
                xhr.send()

            }
            // submitForm(formName) {
            //     this.$refs[formName].validate((valid) => {
            //         if (valid) {
            //             alert('submit!');
            //         } else {
            //             console.log('error submit!!');
            //             return false;
            //         }
            //     });
            // },
            // resetForm(formName) {
            //     this.$refs[formName].resetFields();
            // }
        }
    }
</script>

<style scoped>

</style>