<template>
    <div>
        <HeaderComp></HeaderComp>
        <MainBlockComp>
            <el-col :span="12">
                <el-card style="height: 78vh; overflow-y: visible" shadow="never">
                    <el-row type="flex" justify="center" style="margin-bottom: 20px !important">Комментарии</el-row>
                    <div class="block">
                        <el-timeline>
                            <el-timeline-item color="#0bbd87" timestamp="Да" placement="top">
                            <el-card>
                                <h4>Рахимов Камол</h4>
                                <p>Комментарий</p>
                            </el-card>
                            </el-timeline-item>
                            <el-timeline-item color="#0bbd87" timestamp="Да" placement="top">
                            <el-card>
                                <h4>Яковлев Никита</h4>
                                <p>Комментарий</p>
                            </el-card>
                            </el-timeline-item>
                            <el-timeline-item color="red" timestamp="Нет" placement="top">
                            <el-card>
                                <h4>Кацков Павел</h4>
                                <p>Комментарий</p>
                            </el-card>
                            </el-timeline-item>
                        </el-timeline>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card style="height: 78vh; overflow-y: visible" shadow="never">
                    <el-row type="flex" justify="center" style="margin-bottom: 20px !important">Аналитика</el-row>
                    <el-row>
                        <el-col :span="12" style="text-align: center">
                            <p>Количество участвующих:</p>
                            <el-divider></el-divider>
                            <p>Количество проголосовавших: </p>
                            <el-divider></el-divider>
                            <p>Количество ответов "Да": </p>
                            <el-divider></el-divider>
                            <p>Количество ответов "Нет": </p>
                            <el-divider></el-divider>
                        </el-col>
                        <el-col :span="12" style="text-align: center">
                            <p><strong>10</strong></p>
                            <el-divider></el-divider>
                            <p><strong>7</strong></p>
                            <el-divider></el-divider>
                            <p><strong>3</strong></p>
                            <el-divider></el-divider>
                            <p><strong>4</strong></p>
                            <el-divider></el-divider>
                        </el-col>
                    </el-row> 
                    <el-row type="flex" justify="center" style="margin-bottom: 20px !important">
                        <el-progress type="dashboard" :percentage="40"></el-progress> 
                    </el-row>
                    <el-row type="flex" justify="center" style="margin-bottom: 20px !important">
                        40% "да" / 60% "нет"
                    </el-row>
                    <el-row type="flex" justify="center" style="margin-bottom: 20px !important">
                        <el-divider></el-divider>
                        <el-button size="small" type="primary"><i class="el-icon-printer"></i>&nbsp;&nbsp;распечатать итоговой отчет</el-button>
                        <el-divider></el-divider>
                    </el-row>
                </el-card>
            </el-col>    
                    
        </MainBlockComp>
    </div>            
</template>

<script>
    import HeaderComp from '../Components/HeaderComp.vue'
    import MainBlockComp from '../Components/MainBlockComp.vue'
    export default {
        name: 'FinalReportPage',
        data: function (){
            return {

            }
        },
        components: {
            HeaderComp,
            MainBlockComp
        }
    }
</script>

<style>
    ul{
        padding-inline-start: 0px !important;
    }
</style>