<template>
    <div>
        <HeaderComp></HeaderComp>
        <MainBlockComp>
            <el-col :span="9">
                <el-card style="height: 77vh; overflow-y: visible" shadow="never">
                    <el-row type="flex" class="row-bg" justify="center" style="margin-bottom: 20px !important">
                        Согласования в которых вы участвуете

                    </el-row>
                    <router-link to="/AgreementPage" style="text-decoration: none">
                        <el-card class="blocks" shadow="hover">
                            <el-row><strong>наименование</strong></el-row>
                            <el-row style="color: #ccc; font-size: 15px;">описание</el-row>
                            <el-row style="color: #ccc; font-size: 15px;">организатор</el-row>
                            <el-row>
                                <el-progress :percentage="58" :color="customColors"></el-progress>
                            </el-row>
                        </el-card>
                    </router-link>
                    <router-link to="/AgreementPage" style="text-decoration: none">
                        <el-card class="blocks" shadow="hover">
                            <el-row><strong>наименование</strong></el-row>
                            <el-row style="color: #ccc; font-size: 15px;">описание</el-row>
                            <el-row style="color: #ccc; font-size: 15px;">организатор</el-row>
                            <el-row>
                                <el-progress :percentage="58" :color="customColors"></el-progress>
                            </el-row>
                        </el-card>
                    </router-link>
                    <router-link to="/AgreementPage" style="text-decoration: none">
                        <el-card class="blocks" shadow="hover">
                            <el-row><strong>наименование</strong></el-row>
                            <el-row style="color: #ccc; font-size: 15px;">описание</el-row>
                            <el-row style="color: #ccc; font-size: 15px;">организатор</el-row>
                            <el-row>
                                <el-progress :percentage="20" :color="customColors"></el-progress>
                            </el-row>
                        </el-card>
                    </router-link>
                    <router-link to="/AgreementPage" style="text-decoration: none">
                        <el-card class="blocks" shadow="hover">
                            <el-row><strong>наименование</strong></el-row>
                            <el-row style="color: #ccc; font-size: 15px;">описание</el-row>
                            <el-row style="color: #ccc; font-size: 15px;">организатор</el-row>
                            <el-row>
                                <el-progress :percentage="90" :color="customColors"></el-progress>
                            </el-row>
                        </el-card>
                    </router-link>
                    <router-link to="/AgreementPage" style="text-decoration: none">
                        <el-card class="blocks" shadow="hover">
                            <el-row><strong>наименование</strong></el-row>
                            <el-row style="color: #ccc; font-size: 15px;">описание</el-row>
                            <el-row style="color: #ccc; font-size: 15px;">организатор</el-row>
                            <el-row>
                                <el-progress :percentage="40" :color="customColors"></el-progress>
                            </el-row>
                        </el-card>
                    </router-link>
                    <router-link to="/AgreementPage" style="text-decoration: none">
                        <el-card class="blocks" shadow="hover">
                            <el-row><strong>наименование</strong></el-row>
                            <el-row style="color: #ccc; font-size: 15px;">описание</el-row>
                            <el-row style="color: #ccc; font-size: 15px;">организатор</el-row>
                            <el-row>
                                <el-progress :percentage="70" :color="customColors"></el-progress>
                            </el-row>
                        </el-card>
                    </router-link>
                </el-card>
            </el-col>
            <el-col :span="9">
                <el-card style="height: 77vh; overflow-y: visible" shadow="never">
                    <el-row type="flex" justify="center" style="margin-bottom: 10px !important">Согласования в которых
                        вы организатор
                    </el-row>
                    <el-row type="flex" justify="center" style="margin-bottom: 20px !important">
                        <CreateAgreementComp></CreateAgreementComp>
                    </el-row>
                        <MainPageBlocksComp v-for="vote in org_blocks"
                            :percent="vote.percent"
                            :name="vote.name"
                            :description="vote.description"
                        ></MainPageBlocksComp>


                </el-card>
            </el-col>
            <el-col :span="6">
                <el-card style="height: 77vh; overflow: visible" shadow="never">
                    <el-row type="flex" class="row-bg" justify="center">Даты окончания голосований</el-row>
                    <el-calendar :range="['2019-03-04', '2019-03-24']">
                    </el-calendar>

                </el-card>
            </el-col>
        </MainBlockComp>
    </div>

</template>

<script>
    import HeaderComp from '../Components/HeaderComp.vue'
    import MainBlockComp from '../Components/MainBlockComp.vue'
    import EditModalButton from '../ModalButtons/EditModalButton.vue'
    import CreateModalButton from '../ModalButtons/CreateModalButton.vue'
    import MainPageBlocksComp from '../Components/MainPageBlocksComp.vue'
    import RealTimeUserInput from "../RealTimeUserInput.vue";
    import UserListPicker from "../UserListPicker.vue";
    import CreateAgreementComp from "../CreateAgreementComp.vue"
    import EditAgreementCom from "../EditAgreementComp.vue"


    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        } else {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
                end = dc.length;
            }
        }
        // because unescape has been deprecated, replaced with decodeURI
        //return unescape(dc.substring(begin + prefix.length, end));
        return decodeURI(dc.substring(begin + prefix.length, end));
    }

    export default {
        name: "MainPage",
        data() {
            return {
                percentage: 20,
                customColors: [
                    {color: '#f56c6c', percentage: 20},
                    {color: '#e6a23c', percentage: 40},
                    {color: '#5cb87a', percentage: 60},
                    {color: '#1989fa', percentage: 80},
                    {color: '#6f7ad3', percentage: 100}
                ],
                org_blocks: []

            }
        },
        created() {
            if (getCookie('access_key') == null) {
                this.$router.push('/AuthRegistPage');

            } else {
                this.load_votings_as_admin();
            }
        },
        components: {
            HeaderComp,
            MainBlockComp,
            EditModalButton,
            CreateModalButton,
            MainPageBlocksComp,
            RealTimeUserInput,
            UserListPicker,
            CreateAgreementComp,
            EditAgreementCom
        },
        methods: {
            load_votings_as_admin() {
                var xhr = new XMLHttpRequest();
                var self = this;
                let url = `http://127.0.0.1:8904/get_voting_for_admin?user_id=${1}`
                xhr.open('GET', url, true)
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        var json_s = this.responseText
                        var data = JSON.parse(json_s)
                        self.org_blocks = data.res;
                        console.log(self.org_blocks)


                    }
                }
                xhr.send()
            }
        }

    }
</script>

<style>
    .el-card__body {
        padding: 12px !important;
    }

    .blocks {
        margin-bottom: 20px !important;
    }

    .blocks:last-child {
        margin-bottom: 0;
    }
</style>
